
img{

  width: 1060px;
  height: 300px;
}

.ddd{
  width: 100%;
}

.wrapper{
  overflow: hidden;
  padding-top: 25px;
  /* width:120%; */
  margin: 0 auto;
}

.slide-container{
  display: flex;
  width: 400vw;
  margin: 0 auto;
  transform:translateX(18vw)
}
.slide-box{
  /* width:70vw; */
  width: 100%;
  padding: 0 12px 0 12px;
  
}

.slide-box img{
  /* display: inline-block; */
  width: 100%;
}


.ddd .leftBtn img, .ddd .rightBtn img{
  width:16px;
  height: 16px;
  
}

.ddd .leftBtn{
  position: absolute;
  top:220px;
  left: calc((100% - 1210px) / 2);
  width: 30px;
  height: 60px;
  background-color: #fff;
  border-radius: 15px;
  opacity: .5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ddd .rightBtn{
  position: absolute;
  top:220px;
  right: calc((100% - 1200px) / 2);
  width: 30px;
  height: 60px;
  background-color: #fff;
  border-radius: 15px;
  opacity: .5;
  display: flex;
  justify-content: center;
  align-items: center;
}
